<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Port" value="13000"/>
    <add key="vlcPort" value="13001"/>
    <add key="OpticalDevice" value="/dev/sr0"/>
    <add key="OpticalMountpoint" value="/home/pi/mpd/music/mnt"/>
    <add key="PathToPlaylists" value="D:\work\Stereoanlage\mpd\playlists"/>
    <add key="MillisecondsToSleepWhenDriveIsNotReady" value="2000"/>
    <add key="MillisecondsToSleepWhenDriveIsOpen" value="2000"/>
  </appSettings>
</configuration>